*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.menu-container {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
}

.toggler {
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    opacity: 0;
    z-index: 3;
    cursor: pointer;
}

.hamburger {
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #111;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}