

   body{
    font-family: sans-serif;
   }
 
   
 .modal{
     background-image: linear-gradient(rgba(0, 0, 0 ,0.5), rgba(0, 0, 0 ,0.5)), url("/fichier_starter/dist/img/story-2.jpeg"); 
     background-size: cover;
     background-repeat: no-repeat;
     height: 100vh;
     padding-top: 10em;
     
     
 }

 
 
   .modal__close{
    color: #363636;
    font-size: 2em;
    position: absolute;
    top: .5em;
    right: 1em;
   }
 
   .modal__heading{
    color: dodgerblue;
    margin-bottom: 1em;
   }
 
   
 

 .email{
   display: block;
   margin: 4% auto -2% auto;
   font-size: 17px;
   width: 297px;
   height: 43px;
   text-align: left;
   padding-left: 10px;}

.chek{
    text-align: center;
    color:  #9cb4c7;
}
.checkbox{
    margin-right: 1%;
    margin-top: 7%;
}
.btn{
    
    background-color: $color-bleu;
    border: none;
    width: 14%;
    padding: 1em 0em;
    font-weight: bold;
    border-radius: 16px;
    left: 6%;
    position: relative;
    transform: translateX(-50%);
    margin-top: 2rem;
    color: white;
    &:hover{
        color: $color-bleu;
        background-color: #9cb4c7;
    }
}
.titre{
    // padding-left: 15em;
    font-size: 2em;
    color:#9cb4c7;
    text-align: center;
}

@media screen and (min-width: 640px) {
    .chek{
   
    text-align: center;
    
    }
    
    
    .titre{
        
        font-size: 1.5em;
    }
    
  }