

.features {
    width: 100%;
    height: 30rem;
    text-align: center;
    letter-spacing: 0.5px;
    background-color: rgba(0, 0, 0, 0.2);
    align-items: stretch;
    align-content: stretch;

    & h1{
        
        font-family: sans-serif;
        font-weight: bolder;
         padding: 3rem;
    }
      



.features__services{
    background-color: green;
     width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
   grid-gap: calc(4rem + 2%);
    
}
.features__services__services1 {
    grid-area: 1 / 1 / 2 / 2;
    text-align: center;
    padding:3em 0em;
    
    
    
}

.features__services__services2 {
    text-align: center;
    padding:3em 0em;
    grid-area: 1 / 2 / 2 / 3;
    
}

&__services3 {
    text-align: center;
    padding:3em 0em;
    grid-area: 1 / 3 / 2 / 4;
   
}

&__services4 {
    grid-area: 2 / 1 / 3 / 2;
    
}

&__services5 {
    grid-area: 2 / 2 / 3 / 3;
    
}

&__services6 {
    grid-area: 2 / 3 / 3 / 4;
   
}





}















