.footers{
background-image: url(/fichier_starter/dist/img/f);
   
    
    

 &__col2{
    
    color: black;
    text-decoration: none;
    padding-top: 2em;
    text-align: center;

}
&__copy{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
}
.footers__col2 li {

    display: inline;   
    color: black;
    font-size: 1em;
    text-decoration: none;
    margin: 55px 55px;
    text-align: center;

   
  
    }
    .logo2{
    margin-left: 30%;
    padding-top: 7%;
    font-size: 2px;

  

        }
 
    

.footer__copyright{

    width: 30em;
    padding-top: 5%;
    margin-left: 3%;

 }
 
 

    
 .logo2{
     img{  
     width: 50%;
     height: 50%;
         margin-bottom: 3rem;
    margin-left: 3rem;
       }
 }
 

 .footers__email {
    
      


	display: flex;
	flex-direction: row;
    margin-left: 20em;
    margin: 1em;
      
      
       
        
    
    input{
       
        width:  20em;
        height: 2.7em;

      
       
        
       
     

        
        
    }

    .submit{ background-color: $color-bleu;
        border: none;
        width: 8em;
        padding: 0.8em 0em;
        font-weight: bold;
        border-radius: 10px;
        left: 4.5em;
        position: relative;
        transform: translateX(-50%);
        margin-top: 2rem;
        color: white;
        cursor: pointer;
        position: relative;
        bottom: 2.5em;
        
     
      

    }
 }
 @media only screen and (max-width: 900px){

   .footers{
       &__copy{
         display: flex;
         flex-direction: column;
         margin-top: 4em;
        
       }
      &__col2 li{
          display:flex;
          flex-direction: column;
          margin: 0em;
      }
      
   }
   .logo2{
    img{  
        width: 73%;
        height: 50%;
        margin: -9em;
    }
} 

  

&__email {
    margin-top: 1em;
}
    
      

  }











